<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html class="no-overflow" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="fr">
<head th:replace="fragments/head.html :: head">
</head>
<body>
<section class="hero bg-img is-fullheight">
    <div th:replace="fragments/header.html :: header"></div>
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-white">Connexion</h3>
                <p class="subtitle has-text-white">Entrez vos accès pour vous connecter.</p>
                <div class="box box-transparent">
                    <form name='f' th:action="@{/connexion}" method='POST'>
                        <div class="field">
                            <div class="control">
                                <label>
                                    <input name='username' class="input is-large" type="text" placeholder="Nom de compte" autofocus="">
                                </label>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <label>
                                    <input name='password' class="input is-large" type="password" placeholder="Mot de passe">
                                </label>
                            </div>
                        </div>
                        <button class="button is-block is-white is-outlined is-large is-fullwidth">Se connecter</button>
                    </form>
                </div>
                <p class="has-text-white">
                    <a href="/inscription">S'inscrire</a>
                </p>
                <div th:if="${errors != null}">
                    <div th:if="${errors.size() > 0}">
                        <div class="column">
                            <article class="message is-danger">
                                <div class="message-header">
                                    <p>Liste d'erreurs</p>
                                </div>
                                <div class="message-body">
                                    <div th:each="error:${errors}">
                                        <div th:text="${error}"></div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>