<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="fr">
<head th:replace="fragments/head.html :: head">
</head>
<body>
<div th:replace="fragments/header.html :: header"></div>
<h3>Connexion</h3>
<form name='f' action="/connexion" method='POST'>
    <table>
        <tr>
            <td>User:</td>
            <td><label>
                <input type='text' name='username' value=''>
            </label></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><label>
                <input type='password' name='password' />
            </label></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="submit" /></td>
        </tr>
    </table>
</form>
</body>
</html>