<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="fr">
<head th:replace="fragments/head.html :: head">
</head>
<body>
<div th:replace="fragments/header.html :: header"></div>
<div th:if="${topo}"><div th:replace="fragments/creation/creation_topo.html :: creation_topo"></div></div>
<div th:if="${site}"><div th:replace="fragments/creation/creation_site.html :: creation_site"></div></div>
<div th:if="${secteur}"><div th:replace="fragments/creation/creation_secteur.html :: creation_secteur"></div></div>
<div th:if="${voie}"><div th:replace="fragments/creation/creation_voie.html :: creation_voie"></div></div>
</body>
</html>