<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Topo escalade</title>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>

</head>
<body>
<div th:replace="fragments/header.html :: header"></div>
<h3>Voie</h3>
<form action="#" th:action="@{/voie/save}" th:object="${voie}" method=post>
    <p>Nom: <label>
        <input type="text" th:field="*{nom}"/>
    </label>
    </p><p>Description: <label>
        <input type="text" th:field="*{description}"/>
    </label></p>
    <p>Longueur: <label>
        <input type="text" th:field="*{longueur}"/>
    </label></p>
    <input type="hidden" th:field="*{secteur}" th:value="${voie.secteur}">
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>
</body>
</html>