<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html class="no-overflow" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="fr">
<head th:replace="fragments/head.html :: head">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
</head>
<body>
<section class="hero bg-img-error is-fullheight">
    <div class="hero-body darker">
        <div class="container">
            <div class="has-text-centered" id="test">
                <p class="is-size-3 search">Une erreur a été rencontrée !</p>
                <p class="is-size-4 search">L'action que vous avez tenté de faire n'a pas abouti.</p>
                <a href="/" class="button is-large">Retourner à l'accueil</a>
            </div>
        </div>
    </div>
</section>
</body>
</html>
