<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="fr">
<head th:replace="fragments/head.html :: head">
</head>
<body>
<div th:replace="fragments/header.html :: header"></div>
<h3>Inscription</h3>
<form action="#" th:action="@{/inscription}" th:object="${utilisateur_insc}" method=post>
    <p>Mail: <label>
        <input type="text" th:field="*{courriel}"/>
    </label></p>
    <p>Login: <label>
        <input type="text" th:field="*{login}"/>
    </label></p>
    <p>Mot de passe: <label>
        <input type="password" th:field="*{motDePasse}"/>
    </label></p>
    <p>Prénom: <label>
        <input type="text" th:field="*{prenom}"/>
    </label></p>
    <p>Nom: <label>
        <input type="text" th:field="*{nom}"/>
    </label></p>

    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>
</body>
</html>