<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="fr">
<head th:replace="fragments/head.html :: head">
</head>
<body>

<div th:replace="fragments/header.html :: header"></div>
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="has-text-centered title" th:text="'Profil de ' + ${utilisateur_show.getLogin()}">
            </h1>
            <div th:if="${utilisateur_show}">
                <div class="columns">
                    <div class="column">
                        <p th:text="'Login : ' + ${utilisateur_show.login}"></p>
                        <p th:text="'Prénom : ' + ${utilisateur_show.prenom}"></p>
                        <p th:text="'Nom : ' + ${utilisateur_show.nom}"></p>
                    </div>
                </div>
                <div class="columns is-multiline">
                        <div class="column is-one-fifth" th:each="topo:${utilisateur_show.getTopos()}">
                            <div th:replace="fragments/card/card_topo.html :: card_topo"></div>
                        </div>
                </div>
                <div class="columns is-multiline">
                    <div class="column is-one-fifth" th:each="site:${utilisateur_show.getSites()}">
                        <div th:replace="fragments/card/card_site.html :: card_site"></div>
                    </div>
                </div>
            </div>
            <p th:if="${utilisateur_show == null}">Utilisateur introuvable</p>
        </div>
    </div>
</section>
</body>
</html>