<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="fr">
<head th:replace="fragments/head.html :: head">
</head>
<body>
<div th:replace="fragments/header.html :: header"></div>
<!--/*@thymesVar id="title" type="java.lang.String"*/-->
<div th:if="${title}" class="has-text-centered">
    <p th:text="${title}" class="is-size-3 search"></p>
</div>
<div class="columns is-centered">
<table class="table">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Date</th>
        <th>Département</th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="topos" type="java.util.List"*/-->
    <tr th:each="t:${topos}">
        <td>
        <a th:href="@{/topo/{id}(id=${t.getId()})}" th:text="${t.getNom()}"></a></td>
        <td th:text="${t.getDate()}"></td>
        <td th:text="${t.getDepartement()}"></td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>