<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="fr">
<head th:replace="fragments/head.html :: head">
</head>
<body>
<!--/*@thymesVar id="sites" type="fr.fabien.escalade.model.topo.Site"*/-->
<section class="hero bg-img is-fullheight">
    <div th:replace="fragments/header_test.html :: header_test"></div>
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-three-quarters">
                    <div class="columns is-multiline">
                        <div class="column is-one-quarter" th:each="site:${sites}">
                            <div th:replace="fragments/card/card_site.html :: card_site"></div>
                        </div>
                    </div>
                    <div class="columns is-multiline">
                        <div class="column is-one-quarter" th:each="topo:${topos}">
                            <div th:replace="fragments/card/card_topo.html :: card_topo"></div>
                        </div>
                    </div>
                </div>
                <div class="column recherche has-text-centered has-dark-opacity-background is-one-quarter is-narrow sidebar">
                    <h1>Recherche</h1>
                    <br>
                    <form th:action="@{/recherche}">
                        <div class="field">
                            <div class="control">
                                <label>
                                    <input name="nom" class="input is-rounded" type="text" placeholder="Nom ex: SuperSite">
                                </label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="select is-large">
                                <label>
                                    <select name="departement" class="is-fullwidth departements_list select is-rounded has-dark-opacity-background">
                                        <option selected disabled>Département</option>
                                        <option th:type="text" th:each="departement : ${departements}"
                                                th:value="${departement.key}"
                                                th:utext="${departement.key} +' - '+${departement.value}"></option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column field">
                                <div class="control">
                                    <label>
                                        <input name="hauteurMin" class="input is-rounded" type="number" min="0" max="9999"
                                               placeholder="Hauteur min">
                                    </label>
                                </div>
                            </div>
                            <div class="column field">
                                <div class="control">
                                    <label>
                                        <input name="hauteurMax" class="input is-rounded" type="number" min="0" max="9999"
                                               placeholder="Hauteur max">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <p>Cotations</p>
                        <div class="columns">
                            <div class="column is-half field">
                                <div class="select">
                                    <label>
                                        <select name="cotationMin" class="departements_list select is-rounded has-dark-opacity-background">
                                            <option selected disabled>Min</option>
                                            <option th:type="text" th:each="cotation : ${cotations}"
                                                    th:value="${cotation.key}"
                                                    th:utext="${cotation.value}"></option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="column is-half field">
                                <div class="select">
                                    <label>
                                        <select name="cotationMax" class="departements_list select is-rounded has-dark-opacity-background">
                                            <option selected disabled>Max</option>
                                            <option th:type="text" th:each="cotation : ${cotations}"
                                                    th:value="${cotation.key}"
                                                    th:utext="${cotation.value}"></option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="button is-outlined is-light">
                            <i class="fas fa-search">&nbsp</i>Rechercher
                        </button>
                    </form>
                </div>
            </div>
            <p th:if="${sites == null}">Aucun site n'a été trouvé !</p>
        </div>
    </div>
</section>
</body>
</html>