<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Topo escalade</title>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
</head>
<body>
<div th:replace="fragments/header.html :: header"></div>

<h1>Show secteur</h1>
<div th:if="${secteur}">
    <p th:text="'Nom : ' + ${secteur.nom}"></p>
    <p th:text="'Date d\'ajout : ' + ${secteur.date}"></p>
    <p th:text="'Cotation min : ' + ${secteur.cotationMin}"></p>
    <p th:text="'Cotation max : ' + ${secteur.cotationMax}"></p>
    <p th:text="'Hauteur min : ' + ${secteur.hauteurMin}"></p>
    <p th:text="'Hauteur max : ' + ${secteur.hauteurMax}"></p>

    <h1>Sites de l'utilisateur</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Longueur</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="v:${secteur.getVoies()}">
            <td><a th:href="@{/voie/{id}(id=${v.getId()})}" th:text="${v.getNom()}"></a></td>
            <td th:text="${v.getLongueur()}"></td>
            <td th:text="${v.getDescription()}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="${secteur.id + '/voie'}">Ajouter une voie</a>
</div>
<p th:if="${secteur == null}">Secteur inexistant !</p>
</body>
</html>