<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Topo escalade</title>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
</head>
<body>
<div th:replace="fragments/header.html :: header"></div>

<h1>Show topo</h1>

<p th:text="'Nom : ' + ${site.nom}"></p>
<p th:text="'Date d\'ajout : ' + ${site.date}"></p>
<p th:text="'Cotation min : ' + ${site.cotationMin}"></p>
<p th:text="'Cotation max : ' + ${site.cotationMax}"></p>
<p th:text="'Hauteur min : ' + ${site.hauteurMin}"></p>
<p th:text="'Hauteur max : ' + ${site.hauteurMax}"></p>
<p th:text="'Orientation : ' + ${site.orientation}"></p>
<p th:text="'Type : ' + ${site.type}"></p>
<p th:text="'Description : ' + ${site.description}"></p>
<p th:text="'Localisation : ' + ${site.localisation}"></p>
</body>
</html>