<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Topo escalade</title>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
</head>
<body>
<div th:replace="fragments/header.html :: header"></div>

<h1>Show site</h1>
<div th:if="${site}">
    <p th:text="'Nom : ' + ${site.nom}"></p>
    <p th:text="'Date d\'ajout : ' + ${site.date}"></p>
    <p th:text="'Cotation min : ' + ${site.cotationMin}"></p>
    <p th:text="'Cotation max : ' + ${site.cotationMax}"></p>
    <p th:text="'Hauteur min : ' + ${site.hauteurMin}"></p>
    <p th:text="'Hauteur max : ' + ${site.hauteurMax}"></p>
    <p th:text="'Orientation : ' + ${site.orientation}"></p>
    <p th:text="'Type : ' + ${site.type}"></p>
    <p th:text="'Description : ' + ${site.description}"></p>
    <p th:text="'Localisation : ' + ${site.localisation}"></p>
    <p>Créateur : <a th:href="@{/profile/{id}(id=${site.utilisateur.id})}" th:text="${site.utilisateur.login}"></a></p>
    <a th:href="${site.id + '/secteur'}">Ajouter un secteur</a>

    <h1>Sites de l'utilisateur</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Cotation min</th>
            <th>Cotation max</th>
            <th>Hauteur min</th>
            <th>Hauteur max</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="s:${site.getSecteurs()}">
            <td><a th:href="@{/secteur/{id}(id=${s.getId()})}" th:text="${s.getNom()}"></a></td>
            <td th:text="${s.getCotationMin()}"></td>
            <td th:text="${s.getCotationMax()}"></td>
            <td th:text="${s.getHauteurMin()}"></td>
            <td th:text="${s.getHauteurMax()}"></td>
        </tr>
        </tbody>
    </table>
</div>
<p th:if="${site == null}">Site inexistant !</p>

</body>
</html>