<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html class="no-overflow" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="fr">
<head th:replace="fragments/head.html :: head">
</head>
<body>

<section class="hero bg-img is-fullheight">
    <div th:replace="fragments/header_test.html :: header_test"></div>
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-white">Créer un site</h3>
                <div class="box box-transparent">
                    <form action="#" th:action="@{/site/save}" th:object="${site}" method=post>
                        <div class="field">
                            <div class="control">
                                <label>
                                    <input th:field="*{nom}" class="input is-large is-fullwidth"
                                           type="text"
                                           placeholder="Nom du site"
                                           autofocus="">
                                </label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <label>
                                    <input th:field="*{localisation}"
                                           class="input is-large is-fullwidth"
                                           type="text"
                                           placeholder="Localisation"
                                           autofocus="">
                                </label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <label>
                                    <input th:field="*{description}" class="input is-large is-fullwidth"
                                           type="text"
                                           placeholder="Description"
                                           autofocus="">
                                </label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <div class="select is-large is-fullwidth">
                                    <label>
                                        <select th:field="*{orientation}" name="type"
                                                class="departements_list select has-dark-opacity-background">
                                            <option value="" selected="selected" disabled>Orientation
                                            </option>
                                            <option th:value="'Nord'" th:text="Nord"></option>
                                            <option th:value="'Sud'" th:text="Sud"></option>
                                            <option th:value="'Est'" th:text="Est"></option>
                                            <option th:value="'Ouest'" th:text="Ouest"></option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <div class="select is-large is-fullwidth">
                                    <label>
                                        <select th:field="*{type}" name="type"
                                                class="departements_list select has-dark-opacity-background">
                                            <option value="" selected="selected" disabled>Type</option>
                                            <option th:value="'Roche'" th:text="Roche"></option>
                                            <option th:value="'Bloc'" th:text="Bloc"></option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <div class="select is-large is-fullwidth">
                                    <label>
                                        <select th:field="*{departement}" name="departement"
                                                class="departements_list select has-dark-opacity-background">
                                            <option th:value="''" selected="selected" disabled>
                                                Département
                                            </option>
                                            <option th:type="text"
                                                    th:each="departement : ${departements}"
                                                    th:value="${departement.key}"
                                                    th:utext="${departement.key + ' - ' + departement.value}">
                                            </option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <input type="hidden" th:field="*{cotationMin}" th:value="${site.cotationMin}">
                        <input type="hidden" th:field="*{cotationMin}" th:value="${site.cotationMin}">
                        <input type="hidden" th:field="*{cotationMax}" th:value="${site.cotationMax}">
                        <input type="hidden" th:field="*{hauteurMin}" th:value="${site.hauteurMin}">
                        <input type="hidden" th:field="*{hauteurMax}" th:value="${site.hauteurMax}">
                        <input type="hidden" th:field="*{utilisateur}" th:value="${site.utilisateur}">
                        <input type="hidden" th:field="*{id}" th:value="${site.id}">
                        <button class="button is-block is-white is-outlined is-large is-fullwidth">Créer
                        </button>
                    </form>
                </div>
            </div>
            <div th:if="${errors != null}">
                <div th:if="${errors.size() > 0}">
                    <div class="column is-4 is-offset-one-quarter">
                        <article class="message is-danger">
                            <div class="message-header">
                                <p>Liste d'erreurs</p>
                            </div>
                            <div class="message-body">
                                <div th:each="error:${errors}">
                                    <div th:text="${error}"></div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>