<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Topo escalade</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
<div class="columns is-mobile is-centered has-text-centered">
    <div class="column is-half">
        <p>
            Youpi
        </p>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="control has-icons-left">
            <div class="select is-large">
                <label>
                    <select>
                        <option selected>Département</option>
                        <option>Select dropdown</option>
                        <option>With options</option>
                    </select>
                </label>
            </div>
            <span class="icon is-large is-left">
                <i class="fas fa-globe"></i>
            </span>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
            is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
    </div>
</footer>
</body>
</html>