<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html class="no-overflow" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="fr">
<head th:replace="fragments/head.html :: head">
</head>
<body>
<!--/*@thymesVar id="voie" type="fr.fabien.escalade.model.topo.Voie"*/-->
<section class="hero bg-img is-fullheight">
    <div th:replace="fragments/header.html :: header"></div>
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-white">Ajouter une voie</h3>
                <div class="box box-transparent">
                    <form action="#" th:action="@{/voie/save}" th:object="${voie}" method=post>
                        <div class="field">
                            <div class="control">
                                <label>
                                    <input th:field="*{nom}" class="input is-large" type="text"
                                           placeholder="Nom de la voie"
                                           autofocus="">
                                </label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <label>
                                    <input th:field="*{longueur}" min="0" max="1000" class="input is-large" type="number"
                                           placeholder="Longueur (en mètres)"
                                           autofocus="">
                                </label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="select is-large">
                                <label>
                                    <select name="cotation" class="departements_list select is-rounded has-dark-opacity-background">
                                        <option selected disabled>Cotation</option>
                                        <option th:type="text" th:each="cotation : ${cotations}"
                                                th:value="${cotation.key}"
                                                th:utext="${cotation.value}"></option>
                                    </select>
                                </label>
                            </div>
                        </div>

                        <input type="hidden" th:field="*{secteur}" th:value="${voie.secteur}"/>
                        <input type="hidden" th:field="*{id}" th:value="${voie.id}"/>
                        <button class="button is-block is-white is-outlined is-large is-fullwidth">Créer</button>
                    </form>
                </div>
                <div th:if="${errors != null}">
                    <div th:if="${errors.size() > 0}">
                        <div class="column">
                            <article class="message is-danger">
                                <div class="message-header">
                                    <p>Liste d'erreurs</p>
                                </div>
                                <div class="message-body">
                                    <div th:each="error:${errors}">
                                        <div th:text="${error}"></div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>