<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html :: head">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
</head>

<body>
<!-- Navigation bar -->
<section class="hero bg-img is-fullheight">
    <!--/*@thymesVar id="voie" type="fr.fabien.escalade.model.topo.Voie"*/-->
    <div th:replace="fragments/header_test.html :: header_test"></div>
    <div class="hero-body">
        <div class="container">
            <div th:if="${voie != null}">
                <!-- About -->
                <section class="section" id="voie">
                    <!-- Title -->
                    <div class="section-heading has-text-centered">
                        <h3 class="title is-2">Voie</h3>
                        <h4 class="subtitle is-5" th:text="${voie.nom}"></h4>
                        <div class="container">
                            <p></p>
                        </div>
                    </div>

                    <div class="columns has-same-height is-gapless">
                        <div class="column">
                            <!-- Profile -->
                            <div class="card has-dark-opacity-background">
                                <div class="card-content">
                                    <h3 class="title is-4">Informations</h3>

                                    <div class="content">
                                        <table class="table-profile">
                                            <tr>
                                                <th colspan="1"></th>
                                                <th colspan="2"></th>
                                            </tr>
                                            <tr>
                                                <td width="20%">Secteur :</td>
                                                <td width="80%"><a th:href="@{/secteur/{id}(id=${voie.secteur.id})}"
                                                                   th:text="${voie.secteur.nom}"></a></td>
                                            </tr>
                                            <tr>
                                                <td>Dernière mise à jour:</td>
                                                <td th:text="${voie.date}">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Cotation :</td>
                                                <td>
                                                    <div>
                                                        <!--/*@thymesVar id="cotations" type="fr.fabien.escalade.business.Cotations"*/-->
                                                        <p th:text="${cotations.convertIntString(voie.cotation)}"></p>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Hauteur :</td>
                                                <td>
                                                    <div><p
                                                            th:text="${voie.longueur} + ' mètres'"></p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section>
                    <div th:if="${voie.secteur.site.utilisateur.id == session.user?.id}" class="section" id="buttons">
                        <div class="field has-addons has-addons-centered">
                            <div class="columns">
                                <div class="column">
                                    <a th:href="@{/voie/{id}/edit (id = ${voie.getId()})}">
                                        <button class="button has-dark-opacity-background is-outlined is-light is-large">
                                            Editer
                                        </button>
                                    </a>
                                </div>
                                <div class="column">
                                    <a th:href="@{/voie/{id}/delete (id = ${voie.getId()})}">
                                        <button class="button has-dark-opacity-background is-outlined is-light is-large">
                                            Supprimer
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div th:if="${voie == null}">
            <section class="section" id="null">
                <div class="section-heading has-text-centered">
                    <h3 class="title is-2">Accès impossible</h3>
                    <h4 class="subtitle is-5" th:text="'Voie inexistante'"></h4>
                    <div class="container">
                        <p></p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
</body>

</html>