<div th:fragment="creation_site" xmlns:th="http://www.thymeleaf.org">
    <h3>Site</h3>
    <!--/*@thymesVar id="site" type="fr.fabien.escalade.model.topo.Site"*/-->
    <form action="#" th:action="@{/site/save}" th:object="${site}" method=post>

        <p>Nom: <label>
            <input type="text" th:field="*{nom}"/>
        </label></p>

        <p>Orientation: <label>
            <input type="text" th:field="*{orientation}"/>
        </label></p>

        <p>Type: <label>
            <input type="text" th:field="*{type}"/>
        </label></p>

        <p>Description: <label>
            <input type="text" th:field="*{description}"/>
        </label></p>

        <p>Département: <label>
            <input type="text" th:field="*{departement}"/>
        </label></p>

        <p>Localisation: <label>
            <input type="text" th:field="*{localisation}"/>
        </label></p>

        <input type="hidden" th:field="*{cotationMin}" th:value="${site.cotationMin}">
        <input type="hidden" th:field="*{cotationMax}" th:value="${site.cotationMax}">
        <input type="hidden" th:field="*{hauteurMin}" th:value="${site.hauteurMin}">
        <input type="hidden" th:field="*{hauteurMax}" th:value="${site.hauteurMax}">
        <input type="hidden" th:field="*{utilisateur}" th:value="${site.utilisateur}">
        <input type="hidden" th:field="*{id}" th:value="${site.id}">
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>
</div>