<div th:fragment="creation_comment" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <article class="media comment">
        <div class="media-content">
            <!--/*@thymesVar id="commentaire_write" type="fr.fabien.escalade.model.topo.Commentaire"*/-->
            <form action="#" th:action="@{/comment/{id} (id=${redirectionId})}" th:object="${commentaire_write}"
                  method=post>
                <div class="field">
                    <p class="control">
                        <label>
                            <textarea th:field="*{content}" class="textarea" placeholder="Add a comment..."></textarea>
                        </label>
                    </p>
                </div>


                <!--/*@thymesVar id="topo" type="fr.fabien.escalade.model.topo.Topo"*/-->
                <div th:if="${topo}">
                    <input type="hidden" th:field="*{topo}" th:value="${topo}">
                </div>
                <!--/*@thymesVar id="site" type="fr.fabien.escalade.model.topo.Site"*/-->
                <div th:if="${site}">
                    <input type="hidden" th:field="*{site}" th:value="${site}">
                </div>
                <input type="hidden" th:field="*{utilisateur}" th:value="${commentaire_write.utilisateur}">

                <nav class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <input type="submit" value="Submit" class="button is-info">
                        </div>
                    </div>
                </nav>
            </form>
        </div>
    </article>
</div>