<div th:fragment="creation_topo" xmlns:th="http://www.thymeleaf.org">
    <h3>Topo</h3>
    <!--/*@thymesVar id="topo" type="fr.fabien.escalade.model.topo.Topo"*/-->
    <form action="#" th:action="@{/topo/save}"
          th:object="${topo}" method=post>
        <p>Nom: <label>
            <input type="text" th:field="*{nom}"/>
        </label></p>
        <p>Statut: <label>
            <input type="checkbox" th:field="*{isEnable}"/>
        </label></p>
        <input type="hidden" th:field="*{utilisateur}" th:value="${topo.utilisateur}">
        <input type="hidden" th:field="*{id}" th:value="${topo.id}">
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>
</div>

