<div th:fragment="card_secteur" xmlns:th="http://www.thymeleaf.org">
    <!--/*@thymesVar id="secteur" type="fr.fabien.escalade.model.topo.Secteur"*/-->
    <div class="card-content has-dark-opacity-background">
        <div class="media">
            <div class="media-content">
                <p class="title is-4 has-text-centered">Secteur</p>
            </div>
        </div>

        <div class="content">
            <p th:text="${secteur.getNom()}"></p>
            <p th:text="${'Nombre de voies : ' + secteur.getVoies().size()}"></p>
            <span>Par : <a th:href="@{/profil/{id}(id=${secteur.getSite().getUtilisateur().getId()})}"
                           th:text="${secteur.getSite().getUtilisateur().getLogin()}"></a></span>
            <br>
            <time datetime="2016-1-1" th:text="${secteur.getDate()}"></time>
        </div>
    </div>
    <footer class="card-footer has-dark-opacity-background">
        <a th:href="@{/secteur/{id}(id=${secteur.getId()})}" class="card-footer-item">Voir</a>
    </footer>
</div>