<div th:fragment="card_topo" xmlns:th="http://www.thymeleaf.org" class="card">
    <!--/*@thymesVar id="topo" type="fr.fabien.escalade.model.topo.Topo"*/-->
    <div class="card-image">
        <figure class="image is-4by3">
            <a th:href="@{/topo/{id}(id=${topo.getId()})}">
                <img src="https://cache.cosmopolitan.fr/data/photo/w1000_ci/51/sport-femme-escalade.jpg"
                     alt="Placeholder image"></a>
        </figure>
    </div>
    <div class="card-content has-dark-opacity-background">
        <div class="media">
            <div class="media-content">
                <p class="title is-4 has-text-centered">Topo</p>
            </div>
        </div>

        <div class="content">
            <p th:text="${topo.getNom()}"></p>
            <span>Par : <a th:href="@{/profile/{id}(id=${topo.getUtilisateur().getId()})}"
                           th:text="${topo.getUtilisateur().getLogin()}"></a></span>
            <br>
            <time datetime="2016-1-1" th:text="${topo.getDate()}"></time>
        </div>
    </div>
    <footer th:if="${session.user != null}" class="card-footer has-dark-opacity-background">
        <a th:href="@{/topo/{id}/edit(id=${topo.getId()})}"
           th:if="${topo.utilisateur.getId() == session.user?.getId()}" href="#" class="card-footer-item">Gérer</a>
        <a th:href="@{/topo/{id}(id=${topo.getId()})}"
           th:if="${topo.utilisateur.getId() != session.user?.getId()}" th:action="@{/topo/{id} (id=${topo.getId()})}"
           class="card-footer-item">Voir</a>
        <a th:if="${topo.utilisateur.getId() == session.user?.getId()}"
           th:href="@{/topo/{id}/delete (id=${topo.getId()})}" class="card-footer-item">Supprimer</a>
    </footer>
</div>