<div class="hero-head" th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28" alt="logo">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <!--/*@thymesVar id="utilisateur" type="fr"*/-->

        <div id="navbarAccueil" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Accueil
                </a>
                <a th:if="${session.user}" class="navbar-item" href="/topo/">
                    Créer un topo
                </a>
                <a th:if="${session.user}" class="navbar-item" href="/site/">
                    Créer un site
                </a>
            </div>

            <div class="modal">
                <div class="modal-background"></div>
                <div class="modal-content">
                    <!-- Any other Bulma elements you want -->
                </div>
                <button class="modal-close is-large" aria-label="close"></button>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div th:if="${session.user}">
                        <a class="button is-light" href="/profile/">
                            <p>Mon profile</p>
                        </a>

                        <a class="button is-danger is-outlined" href="/logout">
                            <strong>Déconnexion</strong>
                        </a>
                    </div>
                    <div th:if="${session.user} == null" class="buttons">
                        <a class="button is-primary" href="/inscription">
                            <strong>S'inscrire</strong>
                        </a>
                        <a class="button is-light" href="/connexion">
                            Se connecter
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>