<div class="hero-head" th:fragment="header_test" xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="../">
                    <img src="http://bulma.io/images/bulma-type-white.png" alt="Logo">
                </a>
                <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                <span class="navbar-item">
                                <a th:href="@{/}" class="button is-white is-outlined" href="#">
                                    <span class="icon">
                                        <i class="fa fa-home"></i>
                                    </span>
                                    <span>Accueil</span>
                                </a>
                            </span>
                <span th:if="${session.user}" class="navbar-item">
                                <a th:href="@{/topo}" class="button is-white is-outlined" href="#">
                                    <span>Créer un topo</span>
                                </a>
                            </span>
                    <span th:if="${session.user}" class="navbar-item">
                                <a th:href="@{/site}" class="button is-white is-outlined" href="#">
                                    <span>Créer un site</span>
                                </a>
                            </span>

            </div>
            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-end">

                    <span th:if="${session.user}" class="navbar-item">
                                <a th:href="@{/profile}" class="button is-white is-outlined" href="#">
                                    <span>Profile</span>
                                </a>
                            </span>

                    <span th:if="${session.user}" class="navbar-item">
                                <a th:href="@{/logout}" class="button is-white is-outlined" href="#">
                                    <span>Déconnexion</span>
                                </a>
                            </span>

                    <span th:if="${session.user == null}" class="navbar-item">
                                <a th:href="@{/inscription}" class="button is-white is-outlined" href="#">
                                    <span>Inscription</span>
                                </a>
                            </span>
                    <span th:if="${session.user == null}" class="navbar-item">
                                <a th:href="@{/connexion}" class="button is-white is-outlined"
                                   href="https://github.com/dansup/bulma-templates/blob/master/templates/landing.html">
                                    <span>Connexion</span>
                                </a>
                            </span>
                </div>
            </div>
        </div>
    </nav>
</div>