<div th:fragment="show_comment" xmlns:th="http://www.thymeleaf.org">
    <article class="media">
        <figure class="media-left">
            <p class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png" alt="">
            </p>
        </figure>
        <!--/*@thymesVar id="comment" type="fr.fabien.escalade.model.topo.Commentaire"*/-->
        <div class="media-content">
            <div class="content">
                <p>
                    <strong th:text="${comment.getUtilisateur().getLogin()}"></strong>
                    <br>
                    <span th:text="${comment.getContent()}"></span>
                </p>
            </div>
            <nav class="level is-mobile">
                <div class="level-left">
                    <a class="level-item">
                        <span class="icon is-small"><i class="fas fa-reply"></i></span>
                    </a>
                    <a class="level-item">
                        <span class="icon is-small"><i class="fas fa-heart"></i></span>
                    </a>
                </div>
            </nav>
        </div>
        <div class="media-right">
            <form th:if="${session.user?.getId() == comment.getUtilisateur().getId()}" th:action="@{/comment/{id}/delete (id=${comment.getId()})}" method="post">
                <button type="submit" class="delete"></button>
            </form>
        </div>
    </article>
</div>