<div th:fragment="show_site" xmlns:th="http://www.thymeleaf.org">
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="has-text-centered title" th:text="'Site : ' + ${site.nom}">
                </h1>
                <!--/*@thymesVar id="site" type="fr.fabien.escalade.model.topo.Site"*/-->
                <div th:if="${site}">
                    <div class="columns">
                        <div class="column">
                            <p th:text="'Date d\'ajout : ' + ${site.date}"></p>
                            <p th:text="'Cotation min : ' + ${site.cotationMin}"></p>
                            <p th:text="'Cotation max : ' + ${site.cotationMax}"></p>
                            <p th:text="'Hauteur min : ' + ${site.hauteurMin}"></p>
                            <p th:text="'Hauteur max : ' + ${site.hauteurMax}"></p>
                            <p th:text="'Orientation : ' + ${site.orientation}"></p>
                            <p th:text="'Type : ' + ${site.type}"></p>
                            <p th:text="'Description : ' + ${site.description}"></p>
                            <p th:text="'Localisation : ' + ${site.localisation}"></p>
                            <p>Créateur : <a th:href="@{/profile/{id}(id=${site.utilisateur.id})}"
                                             th:text="${site.utilisateur.login}"></a>
                            </p>
                            <a th:href="${site.id + '/secteur'}">Ajouter un secteur</a>
                        </div>
                    </div>
                    <div class="columns">
                        <table>
                            <tr class="" th:each="s:${site.getSecteurs()}">
                                <div class="card column is-one-third">
                                    <header class="card-header">
                                        <p class="card-header-title">
                                            <a th:href="@{/secteur/{id}(id=${s.getId()})}" th:text="${s.getNom()}"></a>
                                        </p>
                                    </header>
                                    <div class="card-content">
                                        <div class="content">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                                            iaculis mauris.<br>
                                            <p>Par : <a
                                                    th:href="@{/profile/{id}(id=${s.getSite().getUtilisateur().getId()})}"
                                                    th:text="${s.getSite().getUtilisateur().getLogin()}"></a></p>
                                            <br>
                                            <time datetime="2016-1-1" th:text="${s.getDate()}"></time>
                                        </div>
                                    </div>
                                    <footer class="card-footer">
                                        <a href="#" class="card-footer-item">Save</a>
                                        <a href="#" class="card-footer-item">Edit</a>
                                        <a href="#" class="card-footer-item">Delete</a>
                                    </footer>
                                </div>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div th:if="${session.user}">
                        <div th:replace="fragments/creation/creation_comment.html :: creation_comment"></div>
                    </div>
                    <!--/*@thymesVar id="commentaires" type="fr.fabien.escalade.model.topo.Commentaire"*/-->
                    <div th:if="${commentaires}">
                        <div th:each="comment:${commentaires}">
                            <div th:replace="fragments/show/show_comment.html :: show_comment"></div>
                        </div>
                    </div>
                </div>
                <p th:if="${site == null}">Site inexistant !</p>
            </div>
        </div>
    </section>
</div>