.hero {
    opacity: 1;
}

.search {
    padding-bottom: 1em;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.hello {
    color: white;
    text-shadow: 1px 1px 2px black;
}

.table {
    margin-top: 1em;
}

.comment {
    margin-bottom: 1em;
}

.bg-img {
    background-image: url(http://image.noelshack.com/fichiers/2019/18/5/1556915323-35463838634-4fc79a297c-k.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.no-overflow {
    overflow: hidden;
}

.bg-img-error {
    background-image: url(http://image.noelshack.com/fichiers/2019/18/7/1557063809-prenom-originaux-2018.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body, .title, .subtitle, strong {
    color: white;
}

.card {
    background-color: transparent;
    box-shadow: 0 0 0;
}

.card-content {
    color: white;
}

a {
    color : white;
}

a:hover {
    color : grey;
}

.input, .textarea {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.has-dark-opacity-background {
    background-color: rgba(0, 0, 0, 0.8) !important;
}

.box-transparent {
    background-color: transparent;
    box-shadow: 0 0 0;
}

::placeholder {
    color: darkgray !important;
    opacity: 1 !important;
}

.departements_list {
    color: #a9a9a9 !important;
}

.select.is-rounded {
    border-radius: 290486px;
}
